SQLAlchemy~=2.0.27
boto3==1.34.143
cassandra-driver==3.29.1
certifi
configparser~=6.0.0
cryptography==41.0.5
dnspython==2.5.0
docker==7.1.0
#easysnmp==0.2.6
fastapi~=0.109.2
icmplib==3.0.4
iperf3
ldap3==2.9.1
mock-open
mysql-connector-python==8.4.0
ntplib==0.4.0
numpy==1.26.4
oracledb==2.2.1
paho-mqtt==2.1.0
passlib~=1.7.4
psutil~=5.9.8
psycopg2-binary==2.9.9
pyOpenSSL==24.1.0
pycurl>=7.45.3
pydantic~=2.6.1
pymongo==4.8.0
pymssql==2.3.0
pyodbc==5.0.1
pytest-asyncio
pytest~=8.2.2
python-jose~=3.3.0
python-multipart~=0.0.9
redis==5.0.7
requests~=2.31.0
rsa~=4.9
scapy==2.5.0
starlette~=0.36.3
typing_extensions~=4.9.0
uvicorn~=0.27.1
